.header {
  background-color: #34C94B !important;
  height: 100px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 20%;
  height:30%;
  /* Ensure the image is sized for visibility */
}