.sectionWrapper{
  border-bottom: 1px solid #34C94B;
    padding-bottom: 20px;
    margin-bottom: 20px;
   
}

.sectionTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.sectionTitle{
   color:#FFFFFF;
}
.toggleText {
  color: #34C94B;
  cursor: pointer;
}

.sectionInnerWrapper {
  margin-top: 18px;
}

.showAllWrapper {
  gap: 40px;
  /*got it from figma*/
  display: flex;
  flex-wrap: wrap;
  /*"flex-wrap: wrap;" specifies that the flex items(cards here) will wrap(will get adjust to new line) if necessary, Try resizing the browser's window to visualize*/
}

.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}